.nav-link:hover{
	background-color:purple;
	border-radius:10px
}

.navbar-brand:hover{
	color:yellow !important;
	font-weight : bold
}

.zoom:hover{
	-webkit-transform:scale(1.2);
}

.mydivstyle:hover{
	box-shadow:0 0 20px 0 rgba(0,0,0,0.3);
	transform:translateY(-20px);
}